body {
  margin:0px;
  background-color:rgba(175, 173, 170, 0.996078431372549);
  background-image:url('../../images/3_homepage_mobile/regen/bg.png');
  background-position:center center;
  background-repeat:repeat;
  background-attachment:fixed;
  background-size:2048px 2048px;
  background-origin:border-box;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:171px;
  background:inherit;
  background-color:rgba(223, 210, 178, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u2 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:471px;
  width:48px;
  height:171px;
  display:flex;
  opacity:0.2;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:160px;
  background:inherit;
  background-color:rgba(188, 168, 116, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:477px;
  width:36px;
  height:160px;
  display:flex;
  opacity:0.66;
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:148px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#DFD2B2;
  text-align:center;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:480px;
  width:32px;
  height:148px;
  display:flex;
  opacity:0.9;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#DFD2B2;
  text-align:center;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:171px;
  background:inherit;
  background-color:rgba(223, 210, 178, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u6 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:471px;
  width:47px;
  height:171px;
  display:flex;
  opacity:0.2;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:160px;
  background:inherit;
  background-color:rgba(188, 168, 116, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u7 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:477px;
  width:36px;
  height:160px;
  display:flex;
  opacity:0.66;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:148px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#DFD2B2;
  text-align:center;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:480px;
  width:32px;
  height:148px;
  display:flex;
  opacity:0.9;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#DFD2B2;
  text-align:center;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:171px;
  background:inherit;
  background-color:rgba(223, 210, 178, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u10 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:471px;
  width:48px;
  height:171px;
  display:flex;
  opacity:0.2;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:160px;
  background:inherit;
  background-color:rgba(188, 168, 116, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u11 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:477px;
  width:36px;
  height:160px;
  display:flex;
  opacity:0.66;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:148px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#DFD2B2;
  text-align:center;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:480px;
  width:32px;
  height:148px;
  display:flex;
  opacity:0.9;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#DFD2B2;
  text-align:center;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:171px;
  background:inherit;
  background-color:rgba(223, 210, 178, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u14 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:471px;
  width:47px;
  height:171px;
  display:flex;
  opacity:0.2;
}
#u14 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:160px;
  background:inherit;
  background-color:rgba(188, 168, 116, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u15 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:477px;
  width:36px;
  height:160px;
  display:flex;
  opacity:0.66;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:148px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#DFD2B2;
  text-align:center;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:480px;
  width:32px;
  height:148px;
  display:flex;
  opacity:0.9;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#DFD2B2;
  text-align:center;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:171px;
  background:inherit;
  background-color:rgba(223, 210, 178, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u18 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:471px;
  width:48px;
  height:171px;
  display:flex;
  opacity:0.2;
}
#u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:160px;
  background:inherit;
  background-color:rgba(188, 168, 116, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u19 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:477px;
  width:36px;
  height:160px;
  display:flex;
  opacity:0.66;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u20_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:148px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#DFD2B2;
  text-align:center;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:480px;
  width:32px;
  height:148px;
  display:flex;
  opacity:0.9;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#DFD2B2;
  text-align:center;
}
#u20 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u20_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:171px;
  background:inherit;
  background-color:rgba(223, 210, 178, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u22 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:471px;
  width:48px;
  height:171px;
  display:flex;
  opacity:0.2;
}
#u22 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u22_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:160px;
  background:inherit;
  background-color:rgba(188, 168, 116, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u23 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:477px;
  width:36px;
  height:160px;
  display:flex;
  opacity:0.66;
}
#u23 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u23_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:148px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#DFD2B2;
  text-align:center;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:480px;
  width:32px;
  height:148px;
  display:flex;
  opacity:0.9;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#DFD2B2;
  text-align:center;
}
#u24 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u24_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:171px;
  background:inherit;
  background-color:rgba(223, 210, 178, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u26 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:471px;
  width:48px;
  height:171px;
  display:flex;
  opacity:0.2;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:160px;
  background:inherit;
  background-color:rgba(188, 168, 116, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u27 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:477px;
  width:36px;
  height:160px;
  display:flex;
  opacity:0.66;
}
#u27 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u27_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:148px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#DFD2B2;
  text-align:center;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:480px;
  width:32px;
  height:148px;
  display:flex;
  opacity:0.9;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#DFD2B2;
  text-align:center;
}
#u28 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u28_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:364px;
  background:inherit;
  background-color:rgba(223, 210, 178, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u31 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:55px;
  width:336px;
  height:364px;
  display:flex;
  opacity:0.5;
}
#u31 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u31_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:70px;
  background:inherit;
  background-color:rgba(188, 168, 116, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u32 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:291px;
  width:336px;
  height:70px;
  display:flex;
  opacity:0.66;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#DFD2B2;
  text-align:center;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:304px;
  width:337px;
  height:50px;
  display:flex;
  opacity:0.9;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#DFD2B2;
  text-align:center;
}
#u33 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u33_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:297px;
  width:7px;
  height:7px;
  display:flex;
  opacity:0.7;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:297px;
  width:7px;
  height:7px;
  display:flex;
  opacity:0.7;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:297px;
  width:7px;
  height:7px;
  display:flex;
  opacity:0.7;
}
#u37 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u37_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:297px;
  width:7px;
  height:7px;
  display:flex;
  opacity:0.7;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(56, 182, 37, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:3px 3px 5px rgba(71, 71, 71, 0.6);
  -webkit-box-shadow:3px 3px 5px rgba(71, 71, 71, 0.6);
  box-shadow:3px 3px 5px rgba(71, 71, 71, 0.6);
  font-family:'华文宋体 Oblique', '华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:oblique;
  font-size:12px;
  color:#FFFFFF;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:371px;
  width:103px;
  height:30px;
  display:flex;
  opacity:0.7;
  font-family:'华文宋体 Oblique', '华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:oblique;
  font-size:12px;
  color:#FFFFFF;
}
#u40 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:377px;
  width:18px;
  height:18px;
  display:flex;
  opacity:0.7;
}
#u41 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u41_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:78px;
  width:335px;
  height:199px;
}
#u43_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:199px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u43_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:199px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:199px;
  display:flex;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u43_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:199px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  visibility:hidden;
}
#u43_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:199px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:199px;
  display:flex;
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:199px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(188, 168, 116, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:78px;
  width:337px;
  height:199px;
  display:flex;
  opacity:0.5;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:46px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:155px;
  width:25px;
  height:46px;
  display:flex;
  color:#D7C9B7;
}
#u47 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:46px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:155px;
  width:25px;
  height:46px;
  display:flex;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(44, 37, 182, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:3px 3px 5px rgba(21, 21, 21, 0.6);
  -webkit-box-shadow:3px 3px 5px rgba(21, 21, 21, 0.6);
  box-shadow:3px 3px 5px rgba(21, 21, 21, 0.6);
  font-family:'华文宋体 Oblique', '华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:oblique;
  font-size:12px;
  color:#FFFFFF;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:371px;
  width:103px;
  height:30px;
  display:flex;
  opacity:0.7;
  font-family:'华文宋体 Oblique', '华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:oblique;
  font-size:12px;
  color:#FFFFFF;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:378px;
  width:17px;
  height:17px;
  display:flex;
  opacity:0.7;
  color:rgba(242, 242, 242, 0.996078431372549);
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52 {
  position:fixed;
  left:50%;
  margin-left:-180px;
  top:-1px;
  width:360px;
  height:56px;
}
#u52_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
  background:inherit;
  background-color:rgba(223, 210, 178, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:45px;
  display:flex;
  opacity:0.74;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
