body {
  margin:0px;
  background-color:rgba(218, 218, 218, 0.996078431372549);
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:982px;
  height:789px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:132px;
  width:962px;
  height:769px;
  display:flex;
  opacity:0.5;
}
#u34 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:982px;
  height:258px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:664px;
  width:962px;
  height:238px;
  display:flex;
  opacity:0.5;
}
#u35 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u35_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:153px;
  background:inherit;
  background-color:rgba(199, 199, 199, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:80px;
  color:#565656;
  text-align:center;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:662px;
  width:809px;
  height:153px;
  display:flex;
  opacity:0.9;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:80px;
  color:#565656;
  text-align:center;
}
#u36 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:80px;
  background:inherit;
  background-color:rgba(21, 147, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:3px 3px 5px rgba(71, 71, 71, 0.6);
  -webkit-box-shadow:3px 3px 5px rgba(71, 71, 71, 0.6);
  box-shadow:3px 3px 5px rgba(71, 71, 71, 0.6);
  font-family:'华文宋体 Oblique', '华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:oblique;
  font-size:35px;
  color:#FFFFFF;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:797px;
  width:295px;
  height:80px;
  display:flex;
  opacity:0.7;
  font-family:'华文宋体 Oblique', '华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:oblique;
  font-size:35px;
  color:#FFFFFF;
}
#u38 .text {
  position:absolute;
  align-self:center;
  padding:2px 40px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:47px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:813px;
  width:52px;
  height:47px;
  display:flex;
  opacity:0.99;
}
#u39 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:134px;
  width:959px;
  height:528px;
}
#u41_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:528px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u41_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:528px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:528px;
  display:flex;
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u42_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u41_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:528px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  visibility:hidden;
}
#u41_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:528px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:528px;
  display:flex;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u43_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:532px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:132px;
  width:965px;
  height:532px;
  display:flex;
  font-size:30px;
  color:rgba(51, 51, 51, 0.996078431372549);
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u44_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:122px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:338px;
  width:72px;
  height:122px;
  display:flex;
  color:#D7C9B7;
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:122px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:338px;
  width:72px;
  height:122px;
  display:flex;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:679px;
  width:20px;
  height:18px;
  display:flex;
  opacity:0.7;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:679px;
  width:20px;
  height:18px;
  display:flex;
  opacity:0.7;
}
#u49 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:679px;
  width:20px;
  height:18px;
  display:flex;
  opacity:0.7;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:679px;
  width:20px;
  height:18px;
  display:flex;
  opacity:0.7;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:305px;
  height:90px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:797px;
  width:295px;
  height:80px;
  display:flex;
  opacity:0.7;
  font-family:'华文宋体 Oblique', '华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:oblique;
  font-size:35px;
  color:#FFFFFF;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 40px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:45px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:816px;
  width:49px;
  height:45px;
  display:flex;
  opacity:0.99;
  color:rgba(242, 242, 242, 0.996078431372549);
}
#u54 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:982px;
  height:789px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:953px;
  width:962px;
  height:769px;
  display:flex;
  opacity:0.5;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:982px;
  height:258px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1485px;
  width:962px;
  height:238px;
  display:flex;
  opacity:0.5;
}
#u58 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:153px;
  background:inherit;
  background-color:rgba(199, 199, 199, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:80px;
  color:#565656;
  text-align:center;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:1483px;
  width:809px;
  height:153px;
  display:flex;
  opacity:0.9;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:80px;
  color:#565656;
  text-align:center;
}
#u59 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:80px;
  background:inherit;
  background-color:rgba(21, 147, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:3px 3px 5px rgba(71, 71, 71, 0.6);
  -webkit-box-shadow:3px 3px 5px rgba(71, 71, 71, 0.6);
  box-shadow:3px 3px 5px rgba(71, 71, 71, 0.6);
  font-family:'华文宋体 Oblique', '华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:oblique;
  font-size:35px;
  color:#FFFFFF;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:1618px;
  width:295px;
  height:80px;
  display:flex;
  opacity:0.7;
  font-family:'华文宋体 Oblique', '华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:oblique;
  font-size:35px;
  color:#FFFFFF;
}
#u61 .text {
  position:absolute;
  align-self:center;
  padding:2px 40px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:47px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:1634px;
  width:52px;
  height:47px;
  display:flex;
  opacity:0.99;
}
#u62 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:955px;
  width:959px;
  height:528px;
}
#u64_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:528px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u64_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:528px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:528px;
  display:flex;
}
#u65 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u64_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:528px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  visibility:hidden;
}
#u64_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:528px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:528px;
  display:flex;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:532px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:953px;
  width:965px;
  height:532px;
  display:flex;
  font-size:30px;
  color:rgba(51, 51, 51, 0.996078431372549);
}
#u67 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:122px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:1159px;
  width:72px;
  height:122px;
  display:flex;
  color:#D7C9B7;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:122px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:1159px;
  width:72px;
  height:122px;
  display:flex;
}
#u69 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:1500px;
  width:20px;
  height:18px;
  display:flex;
  opacity:0.7;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:1500px;
  width:20px;
  height:18px;
  display:flex;
  opacity:0.7;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:1500px;
  width:20px;
  height:18px;
  display:flex;
  opacity:0.7;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:1500px;
  width:20px;
  height:18px;
  display:flex;
  opacity:0.7;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:305px;
  height:90px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:1618px;
  width:295px;
  height:80px;
  display:flex;
  opacity:0.7;
  font-family:'华文宋体 Oblique', '华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:oblique;
  font-size:35px;
  color:#FFFFFF;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:2px 40px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:45px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1637px;
  width:49px;
  height:45px;
  display:flex;
  opacity:0.99;
  color:rgba(242, 242, 242, 0.996078431372549);
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:982px;
  height:789px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:1776px;
  width:962px;
  height:769px;
  display:flex;
  opacity:0.5;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:982px;
  height:258px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:2308px;
  width:962px;
  height:238px;
  display:flex;
  opacity:0.5;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:153px;
  background:inherit;
  background-color:rgba(199, 199, 199, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:80px;
  color:#565656;
  text-align:center;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:2306px;
  width:809px;
  height:153px;
  display:flex;
  opacity:0.9;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:80px;
  color:#565656;
  text-align:center;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u84_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:80px;
  background:inherit;
  background-color:rgba(21, 147, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:3px 3px 5px rgba(71, 71, 71, 0.6);
  -webkit-box-shadow:3px 3px 5px rgba(71, 71, 71, 0.6);
  box-shadow:3px 3px 5px rgba(71, 71, 71, 0.6);
  font-family:'华文宋体 Oblique', '华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:oblique;
  font-size:35px;
  color:#FFFFFF;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:2441px;
  width:295px;
  height:80px;
  display:flex;
  opacity:0.7;
  font-family:'华文宋体 Oblique', '华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:oblique;
  font-size:35px;
  color:#FFFFFF;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:2px 40px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:47px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:2457px;
  width:52px;
  height:47px;
  display:flex;
  opacity:0.99;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:1778px;
  width:959px;
  height:528px;
}
#u87_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:528px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
}
#u87_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:528px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:528px;
  display:flex;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:528px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 10px rgba(0, 0, 0, 0.349019607843137);
  visibility:hidden;
}
#u87_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:528px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:528px;
  display:flex;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:532px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:1776px;
  width:965px;
  height:532px;
  display:flex;
  font-size:30px;
  color:rgba(51, 51, 51, 0.996078431372549);
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:122px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:1982px;
  width:72px;
  height:122px;
  display:flex;
  color:#D7C9B7;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:122px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:1982px;
  width:72px;
  height:122px;
  display:flex;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:2323px;
  width:20px;
  height:18px;
  display:flex;
  opacity:0.7;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:2323px;
  width:20px;
  height:18px;
  display:flex;
  opacity:0.7;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:2323px;
  width:20px;
  height:18px;
  display:flex;
  opacity:0.7;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:2323px;
  width:20px;
  height:18px;
  display:flex;
  opacity:0.7;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:305px;
  height:90px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:2441px;
  width:295px;
  height:80px;
  display:flex;
  opacity:0.7;
  font-family:'华文宋体 Oblique', '华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:oblique;
  font-size:35px;
  color:#FFFFFF;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 40px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:45px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:2460px;
  width:49px;
  height:45px;
  display:flex;
  opacity:0.99;
  color:rgba(242, 242, 242, 0.996078431372549);
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u101 {
  position:fixed;
  left:50%;
  margin-left:-540px;
  top:0px;
  width:1080px;
  height:106px;
}
#u101_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:106px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:10px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u101_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:106px;
  background:inherit;
  background-color:rgba(34, 34, 34, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:35px;
  color:#FFFFFF;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:106px;
  display:flex;
  opacity:0.74;
  font-size:35px;
  color:#FFFFFF;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
